:root{
	--highlight-color1:#EA068A;
	--highlight-color2:#A88CD1;
	--highlight-color3:#F8F20B;
	--highlight-color4:#1EE186;
	--dark-color:#7D0608;
	--text-color:white;
	--background-color:#121212;
  }
  
  *{
	margin:0;
	padding:0;
	box-sizing:border-box;
  }
  
  html{
	background-color:var(--background-color);
	font-family:'outfit', sans-serif;
	line-height:1.4;
	color:var(--text-color);
  }
  
  #bento-box{
	display:flex;
	gap:2rem;
	padding:30px;
	max-width:1200px;
	margin:0 auto;
  }
  
  #navbar{
	text-align:center;
	display:flex;
	justify-content:center;
	margin:30px auto 30px auto;
	gap:30px;
	background-color:rgba(40, 40, 40, 0.8);
	padding:15px;
	max-width:300px;
	border-radius:15px;
	border:2px solid rgba(40, 40, 40, 0.5);
	box-shadow: 3px 3px 10px rgba(0,0,0, 0.5);
	z-index:1000;
  }
  
  #navbar:hover, .project-tile:hover, #welcome-section:hover, #contact:hover{
	border:2px solid var(--highlight-color2);
  }
  
  #navbar i, .social-icons i{
	color:white;
	font-size:20px;
  }
  
  #navbar i:hover, .social-icons i:hover{
	color:var(--highlight-color1);
  }
  
  #welcome-section{
	position:fixed;
	top:120px;
	left:100px;
	width:300px;
	text-align:center;
	background-color:rgba(40, 40, 40, 0.5);
	box-shadow:5px 5px 15px rgba(0,0,0,0.2);
	border:2px solid rgba(40, 40, 40, 0.5);
	border-radius:20px;
	padding:20px;
	margin:0 100px 0 100px;
  }

  .social-icons{
	display:flex;
	justify-content:center;
	gap:30px;
	padding:20px;
  }
  
  #content-section{
	margin-left:330px;
	flex-grow:1;
  }
  
  #profile-image img{
	width:100%;
	border-radius: 20px;
	margin-bottom:20px;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
  }
  
  #name{
	letter-spacing:1px;
	font-size:2em;
	font-weight:700;
	padding:20px;
	background-image: linear-gradient(var(--highlight-color2), var(--highlight-color1));
    color: transparent;
    background-clip: text;
  }
  
  #welcome-section p{
	font-size:1rem;
	opacity:0.8;
  }
  
 /* #content-section{
	margin-top:50px;
  }*/

  #projects{
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:1.5rem;
	padding:20px;
  }
  
  #projects-heading{
	text-align:center;
	z-index:1;
	font-size:2em;
	background-image: linear-gradient(var(--highlight-color2), var(--highlight-color1));
    color: transparent;
    background-clip: text;
  }
  
  .project-tile{
	background-color:rgba(40, 40, 40, 0.8);
	border:2px solid rgba(40, 40, 40, 0.8);
	border-radius:15px;
	padding:20px;
	text-align:center;
	box-shadow:3px 3px 10px rgba(0,0,0,0.5);
	transition:transform 0.3s ease-in-out;
	display:flex;
	flex-direction:column;
	align-items: center;
	height:100%;
  }
  
  .project-thumbnail{
	background:linear-gradient(var(--highlight-color2), var(--highlight-color1));
	opacity: 0.7;
	width:100%;
	aspect-ratio:16/9;
	border-radius:10px;
	margin-bottom:15px;
  }

  .project-title
  {
	font-size:1.2rem;
	margin-bottom:10px;
  }

  #contact{
	background-color:rgba(40, 40, 40, 0.8);
	border:2px solid rgba(40, 40, 40, 0.8);
	border-radius:15px;
	padding:20px;
	box-shadow:3px 3px 10px rgba(0,0,0,0.5);
	transition:transform 0.3s ease-in-out;
	margin:1rem;
  }

  #contact span{
	color:var(--highlight-color4);
	font-weight:400;
  }

  #my-mindset{
	list-style: none;
	font-size:1rem;
	opacity:0.8;
  }
  
  .btn-primary {
	display: inline-block;
	background: white;
	color: var(--highlight-color1);
	padding: 12px 20px;
	border-radius: 25px;
	font-size: 1rem;
	text-decoration: none;
	transition: background 0.3s;
	width:60%;
	text-align: center;
  }
  
  .btn-primary:hover {
	background: var(--highlight-color4);
	color:var(--dark-color);
  }