:root{
	--highlight-color1:#93D94E;
	--highlight-color2:#60BF81;
	--highlight-color3:#ED9615;
	--text-color:white;
	--background-color:#121212;
  }
  
  *{
	margin:0;
	padding:0;
	box-sizing:border-box;
  }
  
  html{
	background-color:var(--background-color);
	font-family:'outfit', sans-serif;
	line-height:1.4;
	color:var(--text-color);
  }
  
  #bento-box{
	display:flex;
	gap:2rem;
	padding:30px;
	max-width:1200px;
	margin:0 auto;
  }
  
  #navbar{
	position:fixed;
	top:0;
	left:0;
	right:0;
	text-align:center;
	display:flex;
	justify-content:center;
	margin:30px auto 30px auto;
	gap:30px;
	background-color:rgba(40, 40, 40, 0.8);
	padding:15px;
	max-width:200px;
	border-radius:15px;
	border:2px solid rgba(40, 40, 40, 0.5);
	box-shadow: 3px 3px 10px rgba(0,0,0, 0.5);
	z-index:1000;
  }
  
  #navbar:hover, .project-tile:hover, #welcome-section:hover{
	border:2px solid #BDDB34;
  }
  
  #navbar i{
	color:white;
	font-size:20px;
  }
  
  #navbar i:hover{
	color:var(--highlight-color1);
  }
  
  #welcome-section{
	position:fixed;
	top:100px;
	left:30px;
	width:300px;
	text-align:center;
	background-color:rgba(40, 40, 40, 0.5);
	box-shadow:5px 5px 15px rgba(0,0,0,0.2);
	border:2px solid rgba(40, 40, 40, 0.5);
	border-radius:20px;
	padding:20px;
  }
  
  #content-section{
	margin-left:330px;
	flex-grow:1;
  }
  
  #profile-image{
	width:100%;
	height:250px;
	border-radius:15px;
	background-color:var(--highlight-color1);
	margin-bottom:20px;
  }
  
  #name{
	letter-spacing:1px;
	font-size:2rem;
	font-weight:700;
  }
  
  #welcome-section p{
	font-size:1rem;
	opacity:0.8;
  }
  
  #projects{
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:1.5rem;
  }
  
  #projects-heading{
	text-align:center;
	z-index:1;
	font-size:2rem;
  }
  
  .project-tile{
	background-color:rgba(40, 40, 40, 0.8);
	border:2px solid rgba(40, 40, 40, 0.8);
	border-radius:15px;
	padding:20px;
	text-align:left;
	box-shadow:3px 3px 10px rgba(0,0,0,0.5);
	transition:transform 0.3s ease-in-out;
	display:flex;
	flex-direction:column;
	height:100%;
  }
  
  .project-thumbnail{
	background-color:var(--highlight-color2);
	width:100%;
	aspect-ratio:16/9;
	border-radius:10px;
	margin-bottom:15px;
  }
  
  .project-title
  {
	font-size:1.2rem;
	margin-bottom:10px;
  }
  
  .btn-primary {
	display: inline-block;
	background: var(--highlight-color3);
	color: white;
	padding: 12px 20px;
	border-radius: 25px;
	font-weight: 600;
	text-decoration: none;
	transition: background 0.3s;
  }
  
  .btn-primary:hover {
	background: var(--highlight-color2);
  }