*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	scroll-behavior:smooth;
  }
  
	/* background-color:#CAD9BF;*/
  body{
	background:linear-gradient(#a07361, #eed7b2);
	font-family:playfair Display,Sans-serif;
  }
  
  #title{
	color:#733B2F;
	padding:20px;
	text-align:center;
	margin:auto auto;
  }
  h1{
	font-size:2.5em;
  }
  
  #main{
	margin:30px;
	background-color:#f0f0f0;
	padding:20px 20px;
	border-radius:1em;
  }
  
  .separator{
	width:70%;
	background:#6E8C03;
	height:0.1em;
	margin:0px auto;
  }
  
  #img-div {
	width:100%;
	margin:auto;
  }
  
  #img-caption{
	font-size:12px;
	color:#6E8C03;
	text-align:center;
  }
  
  #tribute-info>ul li{
	list-style:none;
	padding: 1.5em 0;
	color: #733B2F;
	font-size:1em;
	text-align: center;
  }
  
  img {
	width:100%;
	max-width:100%;
	height:auto;
	display:block;
  }
  
  .link{
	background-color:#733b2F;
	padding:0.8em 0.5em;
	border:none;
	border-radius:1em;
	box-shadow:5px 5px 5px #D9D5D2;
	margin:auto 2em;
	text-align:center;
  }
  
  .link:hover{
	background-color:#6E8C03;
  }
  
  a{
	text-decoration:none;
	color:#f0f0f0;
  }

	@media (max-width:468px){
		h1{
			font-size:1.5rem;
			padding:20px;
		}

		.link{
			width:100%;
			margin:auto auto;
			font-size:14px;
		}
	}